<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cc.cc_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".greendao.GreenDaoActivity">

        </activity>
        <activity android:name=".listmenu.ListViewMenuActivity">

        </activity>
        <activity android:name=".listmenu.PopupMenuMenuActivity">

        </activity>
        <activity android:name=".listmenu.ActionModesMenuActivity">

        </activity>

        <activity android:name=".listmenu.FloatingContextMenuActivity">

        </activity>

        <activity android:name=".eventbus.EventBusActivity">

        </activity>

        <activity android:name=".viewPager.CCViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".service.messenger.MessengerActivity">

        </activity>

        <service
            android:name="com.android.cc.cc_android.service.messenger.MessengerService"
            android:process=":remote" >
        </service>

    </application>

</manifest>
